@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$button-color: #4b8fe2;
$button-color-border: darken($button-color, 20%);

body {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1022%26quot%3b)' fill='none'%3e%3crect width='1440' height='1000' x='0' y='0' fill='rgba(74%2c 144%2c 226%2c 1)'%3e%3c/rect%3e%3cpath d='M855.35-29.5C679.03 156.32 798.53 921.02 509.03 934.84 219.53 948.66 21.99 504.02-183.61 484.84' stroke='rgba(110%2c 160%2c 213%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M816.33-75.1C654.84 88.7 769.03 770.92 496.18 787.47 223.33 804.02 36.84 457.8-144.11 447.47' stroke='rgba(110%2c 160%2c 213%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1107.45-118.95C906.24 3.33 934.82 665.76 649.48 704 364.14 742.24 420.49 579 191.5 579-37.48 579-147.79 702.88-266.47 704' stroke='rgba(110%2c 160%2c 213%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M642.18-175.21C500.96-1.54 610.66 658.84 374.39 679.17 138.12 699.5-1.95 344.23-161.19 329.17' stroke='rgba(110%2c 160%2c 213%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M995.04-105.8C761.42-14.65 707.88 693.31 393.95 697.24 80.03 701.17-22.28 279.91-207.13 257.24' stroke='rgba(110%2c 160%2c 213%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1022'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	background-size: cover;
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

#root {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 80%;
	-webkit-border-radius: 50px;
	border-radius: 40px;
	background: #fff;
	-webkit-box-shadow: 12px 12px 24px #3f7ac0, -12px -12px 24px #55a6ff;
	box-shadow: 12px 12px 24px #3f7ac0, -12px -12px 24px #55a6ff;
	overflow: hidden;
	width: 50%;
}

.App {
	overflow: hidden;
	width: 100%;
}

.title {
	text-align: center;
}

.header {
	background-color: #16427f;
	padding: 10px 20px 30px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	h2 {
		margin: 20px 0 10px;
	}
	input {
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
		border: 0;
		border-radius: 50px;
		color: #000;
		font-size: 14px;
		padding: 10px 15px;
		width: 90%;
		margin-bottom: 10px;
	}
	input:focus {
		outline: none;
	}
}

button {
	padding: 10px 20px;
	text-transform: uppercase;
	font-weight: 500;
	color: #000;
	background-color: $button-color;
	border: none;
	border-radius: 45px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	margin: 10px;
}

button:hover {
	background-color: $button-color-border;
	box-shadow: 0px 5px 5px $button-color;
	color: #fff;
	transform: translateY(-2px);
}

button:active {
	transform: translateY(-1px);
}
